.iconfont{
    width: 23px;
    height: 22px;
}
.home-container{
    position: fixed;
    height:100%;
    width:100%;
    top:0;
}
.am-tab-bar-bar{
    bottom: 39px;
}
.am-navbar.am-navbar-dark{
    width: 100%;
}
.am-tabs-content-wrap{
}

.am-navbar-right a.am-button.am-button-icon:before{
    border:none;
}
.am-button > .am-button-icon{
    margin-right: 0;
}
.scan-qrcode i,.add-friends i{
    color:white;
}
.scan-qrcode,.add-friends{
    text-align: center;
    background: transparent;
    color:white;
    border:none;
    margin: 0 7px;
}
.home-navbar-title{
    font-weight: 500;
}
