.am-search-clear.am-search-clear-show{
    top:7px;
    right:7px;
}
.am-search-input .am-search-synthetic-ph-icon{
    margin-right: 0;
    position: relative;
    left:-13px;
}
.dividing-line{
    border-bottom: 1px solid #dcdcdc;
}
.msg-row{
    padding-top: 6px;
    padding-bottom: 12px;
}
.msg-row .msg-row-img{
    display: inline-block;
}
.msg-row .msg-row-img img{
    width: 40px;
    height: 40px;
}
.msg-row-rtright{
    float: right;
    vertical-align: middle;
    position: relative;
    top:11px;
    font-size: 10px;
    font-weight: 100;
    color:#BBBBBB;
}
.msg-row-rtleft{
    float: left;
    vertical-align: middle;
}
.msg-row .msg-row-right .msg-row-rtleft h2{
    font-weight: bold;
    margin: 10px 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
}
.msg-row-rtleft .msg-row-rticon{
    display: inline-block;
    background: #3FB0FF;
    width: 13px;
    height: 13px;
    border-radius: 5px;
    font-size: 10px;
    color:white;
    font-weight: 100;
    vertical-align: middle;
    margin-left: 5px;
    text-align: center;
    line-height: 15px;
    position: relative;
    top:-2px;
}
.msg-row .msg-row-right{
    display: inline-block;
    width: 80%;
    margin-left: 16px;
}
.msg-row-rbtext{
    font-size: 10px;
    color:#BBBBBB;
    font-weight: 100;
}
