.am-list-item .am-input-label.am-input-label-5{
    width: 30px;
}
.iconfont{
    width: 30px;
    height:30px;
}
a.am-button.register-btn:link,
a.am-button.register-btn:visited,
a.am-button.register-btn:hover,
a.am-button.register-btn:active,
a.am-button.register-btn:before{
    border:none;
}

.register-btn{
    color: #108ee9;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px 15px;
}